@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

.ff-poppins{
    font-family: 'Poppins', sans-serif;
}
.ff-oswold{
    font-family: 'Oswald', sans-serif;
}
.bg-white{
    background-color: white;
}